@import 'colors';

nav{
    width: 100%;
    background-color: $first;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    // opacity: 0;
    // top: 0%;
    padding: 1rem;
    z-index: 25;

    >h1{
        text-transform: uppercase;
    }
    >main{
        width: 70%;
        display: flex;
        justify-content: flex-end;
        // gap: 2rem;
        >a{
            font-weight: 500;
            color: $dark;
            margin: 1rem;
            font-family: cursive;

            &:hover{
                color: $third;
            }
        }
    }
}